# Token privado da sua conta Mercado Pago (Credenciais de Produção ou Teste)
# Painel: https://www.mercadopago.com.br/developers/panel/app
MERCADOPAGO_ACCESS_TOKEN=

# URL pública do site depois de publicado (ex: https://lojarelogios.vercel.app)
NEXT_PUBLIC_SITE_URL=http://localhost:3000
